<div class="container" style="margin-top: 40px; ">

    <h2>Achetez Drinky</h2>
    <hr class="featurette-divider">


    <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
            <h2 class="featurette-heading">Drinky 330ml</h2>
            <p class="lead">Uniquement disponible en goût framboise (Pour l'instant)</p>
                <select ng-model="quantity" class="form-control">
                    <option value="1">Une bouteille</option>
                    <option value="6">6 bouteilles</option>
                    <option value="12">12 bouteilles</option>
                    <option value="24">24 Bouteilles</option>
                    <option value="48">48 Bouteilles</option>
                </select>
            <div style="margin-top: 20px"><h1>€ {{quantity * 1.25 | limitTo: 4}}</h1>  <b style="margin-top: 5px;">Satisfait ou rembourser</b></div>

            <button ng-click="logEvent('clickOnBuyDrinky')" data-toggle="modal" data-target="#buyModal" class="btn btn-success" style="width: 300px; margin-top: 10px">Commander</button>

            <div class="modal fade" id="buyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Commander Drinky</h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal mt10">
                                <fieldset>
                                    <div class="form-group" >
                                        <div class="col-md-6">
                                            <input name="name" ng-model="order.name" type="text" placeholder="Nom" class="form-control input-md">
                                        </div>
                                        <div class="col-md-6">
                                            <input  name="firstname" ng-model="order.firstname" type="text" placeholder="Prénom" class="form-control input-md">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <input  name="textinput" ng-model="order.mail" type="email" placeholder="example@gmail.com" class="form-control input-md">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-8">
                                            <input  name="textinput" ng-model="order.adress"  type="text" placeholder="Adresse de livraison" class="form-control input-md">

                                        </div>
                                        <div class="col-md-4">
                                            <input  name="textinput" ng-model="order.codepostal" type="text" placeholder="Code postal" class="form-control input-md">
                                        </div>
                                    </div>
                                    <li ng-if="allEmpty" style="color: red;">Merci de remplire tous les champs</li>
                                    <i style="margin-top: 25px"><i>Une fois que vous avez envoyer une demande, votre commande est livrée en 24h entre 8h et 16h00, le payement est effectué sur place.</i></i>
                                </fieldset>
                            </form>
                        </div>
                        <div ng-if="error">Une erreur est servenue</div>
                        <div class="modal-footer">
                            <i class="fa fa-spinner fa-spin fa-3x fa-fw" ng-if="inProgress"></i>
                            <button type="button" ng-click="sendOrder(order)" class="btn btn-success">Envoyer</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt10" style="color: red; font-weight: bold; margin-top: 25px"><i>Vous avez envie de tester la boisson avant de l'acheter ? C'est possble, mais uniquement sur Namur. Si vous voulez la tester envoyer nous un message sur Facebook 😉 </i>
            </div>
            <div class="mt10"><a href="https://www.facebook.com/Drinky-308767716189772/?ref=bookmarks" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i>
                 Notre page Facebook
            </a>
            </div>
        </div>

        <div class="col-md-5 col-md-pull-7">
            <img class="featurette-image img-responsive center-block" src="./img/tea.jpg" data-holder-rendered="true">
        </div>
    </div>

    <footer style="margin-top: 40px">
            <p>© 2016 Company, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
    </footer>

</div>