
<nav class="navbar navbar-default navbar-fixed-top navbar-orange">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <div class="container">
                <ul class="nav navbar-nav">
                    <li><a href="/"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a></li>
                    <li><a class="header-link">BAEDRINKS - RECEVOIR UNE INVITATION</a></li>
                </ul>
            </div>

        </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
</nav>
<div class="background">
    <div class="container " style="margin-top: 50px; padding-top: 50px">
        <h1>Recevoir mon iventation</h1>
        <h4>Dépêche toi, il ne reste plus que <b>66</b> invitations disponible !</h4>
        <hr>
        <li ng-if="error" style="color: red">Cette adresse email est déjà utilisée !</li>
        <form class="form-horizontal" role="form" method="post" style="margin-top: 50px" >
            <div class="form-group">
                <label class="col-sm-2 control-label">Nom & Prénom : </label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" ng-model="invitation.firstname" placeholder="Prénom">
                </div>
                <div class="col-sm-3">
                    <input type="text" class="form-control"  ng-model="invitation.lastname"  placeholder="Nom">
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="col-sm-2 control-label">Email : </label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" ng-model="invitation.email" id="email" placeholder="example@domain.com" value="" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Livraison : </label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" ng-model="invitation.adress"  name="name" placeholder="Adresse">
                </div>

                <div class="col-sm-3">
                    <input type="text" class="form-control"  name="name" ng-model="invitation.postal" placeholder="code postal">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                    <input id="submit" name="submit" type="submit" value="Envoyer" class="btn btn-warning" ng-if="!inProgress" ng-click="sendInvitation(invitation)">
                    <a  type="submit"  class="btn btn-warning" ng-if="inProgress"><i class="fa fa-spinner fa-spin fa-3x fa-fw"></i></a>
                </div>
            </div>
        </form>
    </div>
</div>



<footer>
    <div class="footer navbar-fixed-bottom">
        <div class="container" style="padding-top: 20px">

            <div class="row">
                <div class="col-lg-12">
                    <div style="
    margin: auto;">
                        <div class="social-media ">
                            <a href="https://www.facebook.com/BaeDrinks/?fref=ts">
                                <div class="table-icon">
                                    <i class="fa fa-facebook facebook"
                                       aria-hidden="true"></i>
                                </div>
                            </a>
                        </div>
                        <div class="social-media">
                            <a href="https://medium.com/@baedrinks">
                                <div class="table-icon">
                                    <i class="fa fa-medium medium"
                                       aria-hidden="true"></i>
                                </div>
                            </a>
                        </div>
                        <div class="social-media ">
                            <a href="https://www.instagram.com/baedrinks/">
        <span class="table-icon">
               <i class="fa fa-instagram instagram" aria-hidden="true"></i>

        </span>
                            </a>
                        </div>

                    </div>
                </div>

            </div>

        </div>

        <div class="text-center" style="font-weight: bold; margin-top: 50px">
            <p>  BAE DRINKS © 2017 All Rights Reserved. </p>
            <p><b>B</b>efore <b>A</b>nyone <b>E</b>lse</span></p>
        </div>
    </div>
</footer>