<div class="jumbotron"
     style="width: 100%; display: table; height: 600px; background-image: url('./img/topheader.jpg'); color: white; ">
    <div class="container" style="display: table-cell; vertical-align: middle; padding-left: 20%; padding-right: 20%;">
        <h1>Boissons  <img src="./img/logo.png"></h1>

        <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies
            vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo
            cursus magna. (Why)</p>
        <p style=" ">
            <a class="btn btn-lg btn-success" href="../../components/#navbar" role="button" style="margin-top: 50px">Découvrez
                nos boissons »</a>
        </p>
    </div>
</div>
<div class="container marketing">
    <div class="container" style="margin-bottom: 40px; ">
        <h1 style="text-align: center; font-weight: bold; text-transform: uppercase; color: forestgreen; font-size: 55px">
            Bae c'est quoi ?</h1>
        <div class="row">
            <div class="col-lg-2">
            </div>
            <div class="col-lg-8" style="font-size: 20px; margin-top: 25px">
                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies
                    vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo
                    cursus magna. (What)</p>
            </div>
            <div class="col-lg-2">
            </div>
        </div>
    </div>
</div>
<div style="background-image: url('./img/background.jpg')">
<div class="container marketing" style="padding-top: 50px; color: white;">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <img class="img-circle"  alt="Generic placeholder image" width="140" height="140">
            <h2>Heading</h2>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies
                vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo
                cursus magna.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle"  alt="Generic placeholder image" width="140" height="140">
            <h2>Heading</h2>
            <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras
                mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris
                condimentum nibh.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle"  alt="Generic placeholder image" width="140" height="140">
            <h2>Heading</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula
                porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut
                fermentum massa justo sit amet risus.</p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
    </div>
</div>

<div class="container marketing">
    <div class="container" style="margin-bottom: 40px; margin-top: 20px">
        <h1 style="text-align: center; font-weight: bold; text-transform: uppercase; color: forestgreen; font-size: 55px">
            Comment ?</h1>
        <div class="row">
            <div class="col-lg-2">
            </div>
            <div class="col-lg-8" style="font-size: 20px; margin-top: 25px">
                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies
                    vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo
                    cursus magna (how)</p>
            </div>
            <div class="col-lg-2">
            </div>
        </div>
    </div>
</div>

<div style="background-image: url('./img/background2.jpg');     padding-bottom: 60px; margin-bottom: -20px">
    <div class="container marketing" style="padding-top: 50px; color: white;">
        <h1 style="text-align: center; font-weight: bold; text-transform: uppercase; color: white; font-size: 55px">
            Acheter une de nos boissons ?</h1>

        <div class="row">
            <div class="col-lg-2">
            </div>
            <div class="col-lg-8" style="font-size: 20px; margin-top: 25px">
                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies </p>
            </div>
            <div class="col-lg-2">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3">
            </div>
            <div class="col-lg-6" style="font-size: 20px; margin-top: 25px;">
                <label>Votre adresse email</label>
                <input type="text" class="form-control" placeholder="example@gmail.com">
                <div style="text-align: center">
                    <a href="" class="btn btn-success btn-lg" style="margin-top: 20Px" >Envoyer</a>
                </div>
            </div>
            <div class="col-lg-3">
            </div>
        </div>


    </div>
</div>
<footer class="footer">
    <div class="container">
        <p class="text-muted">BAE © 2016 - <a href="">CONTACT</a>
           <span style="    font-size: 25px; float: right">
               <a href><i class="fa fa-facebook-official"  aria-hidden="true"></i></a>
               <a href><i class="fa fa-instagram" style="color: red;" aria-hidden="true"></i></a>
           </span>
        </p>
    </div>
</footer>
