<div class="jumbotron">
    <div class="container">
        <h1 class="fwb">Drinky</h1>
        <p>
            Nous avons créer la boisson qui vous aidera à réduire votre stress et votre anxiété ! Drinky est au gout citron et framboise, il vous maintiendra vous et votre cerveau en pleine forme tout au long de la journée.        <p><a class="btn btn-danger btn-lg" href="/products/" ng-click="logEvent('clickOnBuyNow')" role="button">Acheter maintenant <i class="glyphicon glyphicon-chevron-right"></i></a></p>
    </div>
</div>

<div class="container" style="margin-top: 40px; ">
    <div style="margin-bottom: 20px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    ">Découvrez pourquoi Drinky est incroyable :</div>
    <!-- Three columns of text below the carousel -->
    <div class="row" style="text-align: center; margin-bottom: 15px;">
        <div class="col-lg-4">
            <img class="img-circle" src="http://image.flaticon.com/icons/svg/147/147167.svg" alt="Generic placeholder image" width="140" height="140">
            <h2>Stresse et anxiété</h2>
            <p>Drinky <b>réduit activement votre stress</b> et votre anxiété.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle" src="http://image.flaticon.com/icons/svg/201/201633.svg" alt="Generic placeholder image" width="140" height="140">
            <h2>Cerveau en forme</h2>
            <p>Drinky est composé de principes actifs qui <b>maintienent votre cerveau en forme.</b> Il sera votre meilleur alié lors de vos examens, ou lors de travaux mantaux très intensif.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle" src="http://image.flaticon.com/icons/svg/126/126464.svg" alt="Generic placeholder image" width="140" height="140">
            <h2>Énergie</h2>
            <p><b>Drinky ne vous laissera jamais tomber lorsque vous manquez d'énergie</b>, notre formule vous   maintiendra en forme toute la journée !</p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

    <div type="button" data-toggle="modal" data-target="#myModal" class="ta-c">
        <a ng-click="logEvent('clickOnIngredients')" style="margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    ">Les ingrédients de Drinky <i class="glyphicon glyphicon-chevron-right"></i></a>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Les ingrédients de Drinky</h4>
                </div>
                <div class="modal-body">
                    <div class="row" style="text-align: center; margin-bottom: 15px;">
                        <div class="col-lg-4">
                            <img class="img-circle" src="http://mr-ginseng.com/wp-content/uploads/2012/01/ginkgo-biloba.jpg" alt="Generic placeholder image" width="140" height="140">
                            <h3>Ginko biloba</h3>
                        </div><!-- /.col-lg-4 -->
                        <div class="col-lg-4">
                            <img class="img-circle" src="http://mr-ginseng.com/wp-content/uploads/2012/01/rhodiola.jpg" alt="Generic placeholder image" width="140" height="140">
                            <h3>Rhodiola Rosea</h3>
                        </div><!-- /.col-lg-4 -->
                        <div class="col-lg-4">
                            <img class="img-circle" src="http://www.vulgaris-medical.com/sites/default/files/field/image/billet-de-blog/le-blog-de-sophie-lacoste/2013/12/30/trucs-au-citron.jpg" alt="Generic placeholder image" width="140" height="140">
                            <h3>Citron</h3>
                        </div><!-- /.col-lg-4 -->
                    </div><!-- /.row -->

                    <div class="row" style="text-align: center; margin-bottom: 15px;">
                        <div class="col-lg-4">
                            <img class="img-circle" src="http://4.bp.blogspot.com/-A9wluzJvc6g/UBlKWRz_mhI/AAAAAAAAAIw/rhj_aibggq4/s1600/panax-ginseng-side-effects.jpg" alt="Generic placeholder image" width="140" height="140">
                            <h3>Giseng rouge</h3>
                        </div><!-- /.col-lg-4 -->

                        <div class="col-lg-4">
                            <img class="img-circle" src="http://methodes-douces-et-bien-etre.com/wp-content/uploads/2013/06/Fotolia_45194568_XS1.jpg" alt="Generic placeholder image" width="140" height="140">
                            <h3>Thé vert</h3>
                        </div><!-- /.col-lg-4 -->

                        <div class="col-lg-4">
                            <img class="img-circle" src="http://konradmarkham.com/wp-content/uploads/2014/11/bigstock-vitamins-pills-and-tablets-16253030.jpg" alt="Generic placeholder image" width="140" height="140">
                            <h3>100% des vitamines et mineraux journalier</h3>
                        </div><!-- /.col-lg-4 -->

                        <div class="col-lg-4">
                            <img class="img-circle" src="https://sc01.alicdn.com/kf/HTB1qqlmJFXXXXXHXpXXq6xXFXXXx/1282587/HTB1qqlmJFXXXXXHXpXXq6xXFXXXx.jpg" alt="Generic placeholder image" width="140" height="140">
                            <h3>Coenzyme q10</h3>
                        </div><!-- /.col-lg-4 -->

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>


    <!-- START THE FEATURETTES -->
    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Qu'est-ce que c'est Drinky ?.</h2>
            <p class="lead">
                <b>C'est simple, Drinky est une boisson qui vous apporte tout ce dont vous avez besoin pour réduire votre stress</b>, augmenter votre énergie et garder votre cerveau en forme.
            </p>

            <p class="lead">
                Drinky est LA solution en bouteille (330ml) à portée de tous, vous permettant de prendre soin de vous facilement, et cela, à tout moment de la journée.
            </p>

        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive center-block" src="./img/tea.jpg" data-holder-rendered="true">
        </div>
    </div>


    <div class="row featurette" ng-if="false">
        <hr class="featurette-divider">

        <div class="col-md-7">
            <h2 class="featurette-heading">Ce que les gens en disent <a style="font-size: 18px; margin-left: 10px">Partager votre avis</a></h2>
        </div>
        <div class="col-md-12 mt10">
            <p class="well">
                <img class="profile-pp-100" src="{{oneTestimonial.photo}}">
                <b style="    font-size: 30px;">{{oneTestimonial.name}}</b>&nbsp; {{oneTestimonial.role}}<br/>
                <a href="" ng-click="nextTestiomial()" style="float: right;
    font-size: 30px;
    position: relative;
    top: -25px;"><i class="glyphicon glyphicon-chevron-right" aria-hidden="true"></i>
                </a>

                <i style="font-size: 17px">{{oneTestimonial.text}}</i></p>
        </div>
    </div>

    <hr class="featurette-divider">


    <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
            <h2 class="featurette-heading">Nos objectifs avec Drinky</h2>
            <p class="lead">Nos objectifs sont simples, nous voudrions qu'à terme les consommateurs prennent l'habitude de consommer Drinky pour leur bien-être.</p>
            <p class="lead">
                Notre mission est de constamment améliorer notre boisson pour que celle-ci réponde à vos besoins, autant par le goût, mais aussi par sa composition. Nous ne sommes jamais fermé aux idées.
            </p>


            <p class="lead">
               <i>Pour rappel Drinky est en phase de teste, mais rassurez vous : Drinky reste sans risque ! Afin de nous aider à améliorer notre recette, rendez-vous sur notre page facebook et laissez un commentaire.</i>
            </p>
        </div>
        <div class="col-md-5 col-md-pull-7">
            <img class="featurette-image img-responsive center-block" src="./img/healthy.jpg" data-holder-rendered="true">
        </div>
    </div>

    <hr class="featurette-divider">

    <div style="text-align: center; margin-bottom: 100px ;background-color: rgba(111, 111, 111, 0.37);
    padding: 25px;">
        <h2>Gagne une boisson gratuite en partageant Drinky à tes amis !</h2>
        <a href=""  type="button" data-toggle="modal" data-target="#shareModal" class="ta-c" ng-click="logEvent('clickOnShareDrinky')" style="font-size: 45px; font-weight: bold">Partager</a>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Partager Drinky à mes amis</h4>
                </div>
                <div class="modal-body">
                   <div><b>Pourquoi partager Drinky ? :</b></div>

                    <p class="mt10">Lorsque vous partager Drinky à vos amis cela permet de faire grandir notre communauté,
                    de plus lorsque vous réussisez à faire partager Drinky vous recevez automatiquement par mail une confirmation d'une boisson gratuite.
                    </p>

                    <div><b>Comment je peux partager ? :</b></div>
                    <p class="mt10">Pour partager Drinky à tes amis clique commence par leur envoyer un message via messenger</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <p>© 2016 Company, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
    </footer>

</div>
