<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                <li><a data-scroll href="#what">BAE</a></li>
                <li><a data-scroll href="#what">BAE C'EST QUOI ? </a></li>
                <li><a data-scroll href="#bazinga" href="">COMMENT ?</a></li>
                <li><a data-scroll href="#bazinga" href="">BAE SLEEP</a></li>
                <li><a data-scroll href="#bazinga" href="">ACHETER</a></li>
                <li><a data-scroll href="#bazinga" href="">CONTACT</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
</nav>


<div class="jumbotron"
     style="width: 100%; display: table; height: 876px; background-image: url('./img/topheader.jpg'); color: white; padding-bottom: 25px;">
    <div class="container"
         style="display: table-cell; vertical-align: middle; padding-left: 20%; padding-right: 20%; text-align: center">
        <h1>Boissons <img src="./img/logo.png"></h1>
        <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies
            vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo
            cursus magna. (Why)</p>

        <div style="margin-top: 20px">
            <button class="btn btn-empty btn-green-hover btn-lg">BAE C'EST QUOI ?
            </button>
            <button class="btn btn-empty btn-green-hover btn-lg">COMMENT ?
            </button>

            <button class="btn btn-empty btn-green-hover btn-lg">BAE SLEEP
            </button>
            <button class="btn btn-empty btn-green-hover btn-lg">ACHETER
            </button>
            <button class="btn btn-empty btn-green-hover btn-lg">CONTACT
            </button>
        </div>


        <div style="
    margin: auto; margin-top: 75px; margin-bottom: 50px">
            <div class="social-media ">
                <div class="table-icon">
                    <i class="fa fa-facebook facebook" aria-hidden="true"></i>
                </div>
            </div>

            <div class="social-media">
                <div class="table-icon">
                    <i class="fa fa-medium medium" aria-hidden="true"></i>
                </div>
            </div>

            <div class="social-media ">
        <span class="table-icon">
<i class="fa fa-youtube-play youtube" aria-hidden="true"></i>
        </span>
            </div>

            <div class="social-media ">
        <span class="table-icon">
        <i class="fa fa-instagram instagram" aria-hidden="true"></i>
        </span>
            </div>

        </div>
    </div>
</div>

<div class="container-global-1">
    <div class="container marketing" style="display: table-cell; vertical-align: middle">
        <div class="container" style="margin-bottom: 40px; ">
            <h1 style="text-align: center; font-weight: bold; text-transform: uppercase; font-size: 90px">
                Bae c'est quoi ?</h1>
            <div class="row">
                <div class="col-lg-2">
                </div>
                <div class="col-lg-8" style="font-size: 25px; margin-top: 25px">
                    <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh
                        ultricies
                        vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent
                        commodo
                        cursus magna. (What)</p>
                    <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh
                        ultricies
                        cursus magna.</p>
                </div>
                <div class="col-lg-2">
                </div>
            </div>

        </div>
    </div>
</div>
<div class="container-global-2">
    <div class="container marketing" style="padding-top: 50px;">

        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-lg-3">
                <div class="img-center">
                    <img class="img-circle" src="./img/step-1.png" alt="Generic placeholder image" width="140" height="140">
                </div>
                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies

                </p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-1">
                <img src="./img/arrow2.png" style="position: absolute; top: 50px;">
            </div>
            <div class="col-lg-3">
                <div class="img-center">
                    <img class="img-circle" src="./img/step-2.png" alt="Generic placeholder image" width="140" height="140">
                </div>                <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras
                   </p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-1">
                <img src="./img/arrow.png" style="position: absolute; top: 50px;">
            </div>
            <div class="col-lg-3">
                <div class="img-center">
                    <img class="img-circle" src="./img/step-3.png" width="140" height="140">
                </div>
                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula
                  </p>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->

    </div>
</div>
<div class="container-global-3">
    <div class="container marketing" style="display: table-cell; vertical-align: middle">
        <div class="container" style="margin-bottom: 40px; ">
            <h1 style="text-align: center; font-weight: bold; text-transform: uppercase; font-size: 90px">
                NOS PRODUITS</h1>
        </div>
    </div>
</div>
<div class="container-global-4">
    <div class="container marketing" style="display: table-cell; vertical-align: middle">
        <div class="container" style="margin-bottom: 40px; ">
            <h1 style="text-align: center; font-weight: bold; text-transform: uppercase; font-size: 90px">
               ACHETER BAE</h1>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="container">
        <p class="text-muted">BAE © 2016 - <a href="">CONTACT</a>
        </p>
    </div>
</footer>
